:root {
  --hijau-tua-regreen: #558B3E;
  --hijau-muda-regreen: #D6E6C4;
  --kuning-edit: #ffc107;
  --merah-hapus: #dc3545;
  --biru-password: #72c3f5;
  --border-hijau: #b5c7a3;
  --abu-bg: #f8f9fa;
  --abu-card: #e6eadf;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #dce8c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  max-width: 180px;
  width: 80%;
  display: block;
  margin: 20px auto;
}

.sidebar a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.2s;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #cdd9bf;
}

.logout {
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid #b5c7a3;
}

.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.page-title {
  background-color: var(--hijau-tua-regreen);
  color: white;
  padding: 45px 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin: -40px -40px 30px -40px; 

}

.section-box {
  background-color: #d6e6c4;
  border: 2px solid #198754;
  border-radius: 16px;
  padding: 30px;
  margin: 0 auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 40px;
}

.form-block {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

input, select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.form-button {
  grid-column: span 2;
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: #6aa84f;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
}

button:hover {
  background-color: #5b9244;
}

.table-jadwal {
  width: 100%;
  border-collapse: collapse;
  background-color: #d6e6c4;
  margin-top: 20px;
}

.table-jadwal th,
.table-jadwal td {
  border: 1px solid #ccc;
  padding: 10px;
}

.table-jadwal th:last-child,
.table-jadwal td:last-child {
  text-align: center;
}

.table-jadwal th {
  background-color: #6aa84f;
  color: white;
  font-weight: bold;
}

.table-name {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #2e4f2c;
  font-size: 18px;
}


@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

